{% spaceless %}
{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
    <title>== WEB-SITE NAME == </title>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <!--[if (IE 6) | (IE 7)] | (IE 8)]>
        <script type='text/javascript' language="javascript" src="{% static 'js/lib/ie.js' %}"></script>
    <![endif]-->
    <script language="javascript" type="text/javascript" src="{% static 'js/lib/jquery.min.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'js/lib/jquery-ui.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <script type='text/javascript' language="javascript" src="{% static 'js/main.js' %}"></script>
    {% block additional_js_top %}{% endblock %}
    {% block additional_css_top %}{% endblock %}
</head>

<body>
    <div id="MainBody">
        <!-- MAIN BLOCK -->
        {% block main_content %}{% endblock %}
        <!-- /MAIN BLOCK -->
    </div>
    {% block additional_js_bottom %}{% endblock %}
    {% block additional_css_bottom %}{% endblock %}
</body>
</html>
{% endspaceless %}